<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.optimus.mapper.CartMapper">
    <sql id="words">
    (user_id,product_id,size,color,number,status,create_time,update_time,create_by,update_by)
</sql>
    <sql id="insertValues">
        (#{userId},#{productId},#{size},#{color},#{number},#{status},#{createTime},#{updateTime},#{createBy},#{updateBy})
    </sql>
    <!--添加数据到购物车-->
    <insert id="add">
        insert into cart_info
        <include refid="words"/>
        values
        <include refid="insertValues"/>
    </insert>
    <!--查询购物车所有数据-->
    <select id="query" resultType="com.optimus.dto.results.CartResultDTO">
        select * from cart_info where status=0
        <if test="productId !=null  and size !=null
        and color !=null and userId !=null">
            and product_id=#{productId} and size=#{size}
            and color=#{color} and user_id=#{userId}
        </if>
        <if test="id !=null and product==null and size=null and color=null and userId=null">
            and id=#{id}
        </if>

    </select>
    <!--查询所有商品-->
    <select id="count" resultType="integer">
        select count(id) from cart_info where status=0 and user_id=#{userId}
    </select>
    <!--    分页查询购物车-->
    <select id="queryPage" resultType="com.optimus.dto.results.CartResultDTO">
        select * from cart_info where status=0  and user_id=#{cartParamsDTO.userId} limit #{size},#{page};
    </select>
    <!--更新购物车商品-->
    <update id="update">
        <if test="id==null and productId !=null and userId !=null and number!=null">
            update cart_info set number=number+#{number} WHERE product_id=#{productId} and user_id=#{userId} and status=0
        </if>
        <if test="id!=null and productId ==null and userId==null and number==null">
            update cart_info set `status`=1 WHERE id=#{id}
        </if>
        <if test="id==null and productId ==null and userId ==null and number==null">
            update cart_info set `status`=1
        </if>
        <if test="id!=null and productId ==null and number!=null">
            update cart_info set number=#{number} WHERE id=#{id} and status=0
        </if>
    </update>

</mapper>