<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.optimus.mapper.ColorMapper">

    <select id="query" resultType="com.optimus.dto.results.ProductColorResultDTO">
        <if test="productId !=null">
            select * from product_color where product_id=#{productId}
        </if>
    </select>
</mapper>