<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.optimus.mapper.ShippingAddressMapper">


    <select id="query" resultType="com.optimus.dto.results.ShippingAddressResultDTO">
    <if test="userId !=null">
        select * from shipping_address where user_id={userId} and status=0
    </if>
    </select>
</mapper>